<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/header :: head-css"></head>
<body>
<div id="app"><!--main content-->
    <span sec:authorize="hasRole('ROLE_SUPERADMIN')" th:replace="/fragments/sidebarSuperAdmin :: sidebarSuperAdmin"></span>
    <span sec:authorize="hasRole('ROLE_ADMIN')" th:replace="/fragments/sidebarAdmin :: sidebarAdmin"></span>
    <span sec:authorize="hasRole('ROLE_USER')" th:replace="/fragments/sidebarUser :: sidebarUser"></span>
    <div id="main"><!--content Id-->
        <span th:replace="/fragments/header :: header"></span>
        <div class="main-content container-fluid" sec:authorize="hasRole('ROLE_SUPERADMIN')" th:replace="/pages/superAdmin/superAdminLandingPage :: superAdminContent"><!--dynamic content-->

        </div>
        <div class="main-content container-fluid" sec:authorize="hasRole('ROLE_ADMIN')" th:replace="/pages/admin/adminLandingPage :: adminContent"><!--dynamic content-->

        </div>
        <div class="main-content container-fluid" sec:authorize="hasRole('ROLE_USER')" th:replace="/pages/user/userFileUploadReport :: userFileUploadReport"><!--dynamic content-->

        </div>

        <span th:replace="/fragments/footer :: footer"></span>
    </div>
</div>




</body>
</html>