<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head-css"></head>
<body th:fragment="fileUploadForm">
    <div id="app"><!--main content-->
        <span th:replace="fragments/sidebarAdmin :: sidebarAdmin"></span>
        <div id="main"><!--content Id-->
            <span th:replace="fragments/header :: header"></span>
            <div class="main-content container-fluid">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>Generation Of MO</h3>
                        </div>
                        <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class='breadcrumb-header'>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Main Menu</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Report Management</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <section id="input-style">
                    <div class="row" style="min-height: 58vh">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <form id="adminIcashForm" th:action="@{#}"  method="post" enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col-md-2 form-group mb-2">MO Generation Date</div>
                                            <div class="col-md-2 group">
                                                <input class="form-control dpicker report_date" type="text" name="reportDate" id="report_date" th:value="${currentDate}" readonly="true">
                                            </div>
                                            <div class="col-md-2 form-group">Total ICash Number</div>
                                            <div class="col-md-2 group">
                                                <input type="text" id="total_number" class="form-control" th:name="totalNumberIcash"  required placeholder="Total Number" th:minlength="1" th:maxlength="6">
                                            </div>
                                            <div class="col-md-2 form-group">Total ICash Amount</div>
                                            <div class="col-md-2 group">
                                                <input type="text" id="total_amount" class="form-control" th:name="totalAmountIcash"  required placeholder="Total Amount">
                                            </div>
                                            <div class="col-md-12 text-center mt-2">
                                                <button type="submit" class="btn btn-sm btn-danger generate_mo">Generate Mo</button>
                                            </div>
                                        </div>
                                    </form>
                                    <div id="show_mo" class="mb-2"></div>
                                    <div id="search" class="col-md-12 text-center">
                                        <button class="btn btn-info">Search Again</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div id="modal_wrap"></div><div class="lmodal"></div>
            </div>
            <span th:replace="fragments/footer :: footer"></span>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function (){
            $('#search').hide();
            var report_date = $('#report_date').val();
            getMo(report_date);
            $('#report_date').on('change',function (){
                var val = $(this).val();
                getMo(val);
            });

            function getMo(date){
                var url = "/getMo";
                var data = {'date': date};
                get_ajax(url,data,view_mo, fail_func, "get","json");
            }

            function view_mo(resp,params){
               $('#total_number').val("");
               $('#total_amount').val("");
               if(resp.err == 0){
                   var data = resp.data;
                   $('#total_number').val(data.totalIcashNumber);
                   $('#total_amount').val(data.totalIcashAmount);
               }
            }
            $('#adminIcashForm').on("submit", function (e){
               e.preventDefault();
               var url = "/generateMo";
               var data = $(this).serialize();
               get_ajax(url,data,view_icash_data,fail_func,"post");
            });
            function view_icash_data(resp,params){
               $('#adminIcashForm').hide();
               $('#show_mo').html(resp);
               $('#search').show();
            }
            $('#search').on('click', function (){
               $('#adminIcashForm').show();
               $('#show_mo').html("");
               $('#search').hide();
            })
        });
    </script>
</body>
</html>