<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: head-css"></head>
<body>
<div id="app"><!--main content-->
    <span th:replace="fragments/sidebarAdmin :: sidebarAdmin"></span>
    <div id="main"><!--content Id-->
        <span th:replace="fragments/header :: header"></span>
        <div class="main-content container-fluid"><!--dynamic content-->
            <div class="page-title">
                <h3>New Exchange House</h3>
            </div>
            <div class="row" id="table-hover-row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Create New Exchange</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <form th:action="@{/createNewExchange}" th:object="${exchangeHouse}" th:name="newExchangeEntryForm" method="post" class="form form-horizontal">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Exchange Full Name</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group has-icon-left">
                                                    <div class="position-relative">
                                                        <input type="text" th:name="exchangeName" th:field="*{exchangeName}" class="form-control" placeholder="Full Name" required th:minlength="1" th:maxlength="250">
                                                        <div class="form-control-icon">
                                                            <i data-feather="mail"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Exchange Short Name</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group has-icon-left">
                                                    <div class="position-relative">
                                                        <input type="text" th:name="exchangeShortName" th:field="*{exchangeShortName}" class="form-control" placeholder="Short Name" required th:minlength="1" th:maxlength="30">
                                                        <div class="form-control-icon">
                                                            <i data-feather="mail"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Exchange Code</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group has-icon-left">
                                                    <div class="position-relative">
                                                        <input type="text" th:name="exchangeCode" th:field="*{exchangeCode}" class="form-control" placeholder="Exchange Code" required th:minlength="1" th:maxlength="15">
                                                        <div class="form-control-icon">
                                                            <i data-feather="lock"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Nrta Code</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group has-icon-left">
                                                    <div class="position-relative">
                                                        <input type="text" th:name="nrtaCode" th:field="*{nrtaCode}" class="form-control" placeholder="NRTA Code" required th:minlength="1" th:maxlength="15">
                                                        <div class="form-control-icon">
                                                            <i data-feather="lock"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 d-flex justify-content-end ">
                                                <button type="submit" th:name="submitButton" class="btn btn-primary me-1 mb-1">Submit</button>
                                                <button type="reset" th:name="resetButton" class="btn btn-light-secondary me-1 mb-1">Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span th:replace="fragments/footer :: footer"></span>
    </div>
</div>
</body>
</html>