<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head-css"></head>
<body th:fragment="fileUploadForm">
    <div id="app"><!--main content-->
        <span th:replace="fragments/sidebarAdmin :: sidebarAdmin"></span>
        <div id="main"><!--content Id-->
            <span th:replace="fragments/header :: header"></span>
            <div class="main-content container-fluid">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>API Settlement File Upload</h3>
                        </div>
                        <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class='breadcrumb-header'>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Main Menu</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">File Upload</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>        
    
                <section id="input-style">
                    <div class="row" style="min-height: 58vh">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                </div>
                                <div class="card-body">
                                    <div id="up-form">
                                        <form id="adminUploadApiForm" method="POST" th:action="@{#}" enctype="multipart/form-data">
                                            <div class="row">
                                                <div class="col-sm-2"><label>Report Generation Date</label></div>
                                                <div class="col-sm-2 form-group">
                                                    <input class="form-control" type="text" name="report_date" id="report_date" placeholder="Report Date" th:value="${currentDate}" readonly="true">
                                                </div>
                                                <div class="col-sm-2"><button type="button" id="search" class="btn btn-info">Search</button></div>
                                            </div>
                                            
                                        </form>
                                    </div>
                                    <div id="up-data">
                                        <div class="table-responsive">
                                            <table class='table table-striped' id="settlement_tbl" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>SL</th>
                                                        <th>Upload Date</th>
                                                        <th>Exchange House Name</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                    <div id="reportBtn" class="text-center"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div id="modal_wrap"></div><div class="lmodal"></div>
            </div>
            <span th:replace="fragments/footer :: footer"></span>
        </div>
    </div>
    <script src="/js/admin_api_upload.js"></script>
</body>
</html>