<section class="section">
  <div th:if="${fileInfo}">
    <table class='table table-striped' id="table1">
      <thead>
      <tr>
        <th scope="col" class="text-center">File Name</th>
        <th scope="col" class="text-center">Online</th>
        <th scope="col" class="text-center">Coc</th>
        <th scope="col" class="text-center">A/C Payee</th>
        <th scope="col" class="text-center">Beftn</th>
        <th scope="col" class="text-center">Total Remittance</th>
        <th scope="col" class="text-center">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row" class="text-center"><p th:text="${fileInfo.fileName}"></p></th>
        <td class="text-center"><p th:text="${fileInfo.onlineCount}"></p></td>
        <td class="text-center"><p th:text="${fileInfo.cocCount}"></p></td>
        <td class="text-center"><p th:text="${fileInfo.accountPayeeCount}"></p></td>
        <td class="text-center"><p th:text="${fileInfo.beftnCount}"></p></td>
        <td class="text-center"><p th:text="${fileInfo.totalCount}"></p></td>
        <td>
          <form th:if="${fileInfo.exchangeCode == '222222'}" th:action="@{/apit24transfer}" method="post">
            <button type="submit" class="btn btn-primary btn-block">Process</button>
          </form>
          <form th:if="${fileInfo.exchangeCode == '111111'}" th:action="@{/apibeftntransfer}" method="post">
            <button type="submit" class="btn btn-primary btn-block">Process</button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div th:if="${fileInfo == null}">
    <p th:if="${message}" class="alert alert-light-info text-center">
      [[${message}]] </p>
  </div>
</section>
