<section class="section">
    <input type="hidden" id="_csrf" name="_csrf" th:value="${_csrf.token}">
    <input type="hidden" id="_csrf_header" name="_csrf_header" th:value="${_csrf.headerName}">
    <div th:if="${message !=null and !message.isEmpty()}">
        <div class="alert alert-danger text-center">
            <span th:utext="${message}"></span>
        </div> 
    </div>
    <div th:if="${fileInfo != null and fileInfo.totalCount != null}">
        <h4>Uploaded File Statistics</h4>
            <table class='table table-striped' id="table1">
                <thead>
                <tr>
                    <th scope="col" class="text-center">File Name</th>
                    <th scope="col" class="text-center">Online</th>
                    <th scope="col" class="text-center">Coc</th>
                    <th scope="col" class="text-center">A/C Payee</th>
                    <th scope="col" class="text-center">Beftn</th>
                    <th scope="col" class="text-center">Error</th>
                    <th scope="col" class="text-center">Total Remittance</th>
                    <th scope="col" class="text-center">Total Amount</th>
                    <th scope="col" class="text-center">Details</th>
                </tr>
                </thead>
                <tbody>
                <tr>    
                    <th scope="row" class="text-center"><p th:text="${fileInfo.fileName}"></p></th>
                    <td class="text-center"><p th:text="${fileInfo.onlineCount}"></p></td>
                    <td class="text-center"><p th:text="${fileInfo.cocCount}"></p></td>
                    <td class="text-center"><p th:text="${fileInfo.accountPayeeCount}"></p></td>
                    <td class="text-center"><p th:text="${fileInfo.beftnCount}"></p></td>
                    <td class="text-center">
                        <p th:class="${fileInfo.errorCount} >=1 ? 'fw-bold text-danger':''" th:text="${fileInfo.errorCount}"></p>
                    </td>
                    <td class="text-center"><p th:text="${fileInfo.totalCount}"></p></td>
                    <td class="text-center"><p th:text="${fileInfo.totalAmount}"></p></td>
                    <td>
                        <span th:if="${apiBtn != 1}">
                            <button type="button" class="btn btn-sm btn-info view_btn" th:id="${fileInfo.id}">View</button> 
                            <input id="exchange_code" type="hidden" th:value="${fileInfo.exchangeCode}">
                        </span>
                        <span th:if="${apiBtn == 1}">
                            <button type="button" class="btn btn-sm btn-info apiUrl" th:id="${fileInfo.id}">Process</button> 
                            <input id="apiUrl" type="hidden" th:value="${apiUrl}">
                        </span>
                    </td>
                
                </tr>
                </tbody>
            </table>
    </div>
    <div th:if="${errorData !=null}">
        <input type="hidden" name="id" id="id" th:value="${errorData}" />
        <input type="hidden" name="reportColumns" id="reportColumns" th:value="${reportColumn}" />
        <h4>Error Data Report</h4>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class='table table-striped' id="error_data_tbl" width="100%"></table>
                </div>
            </div>
        </div>
    </div>
</section>
