<section class="section">
    <div th:if="${message !=null and !message.isEmpty()}">
        <div class="alert alert-danger text-center">
            <span th:utext="${message}"></span>
        </div> 
    </div>
    <div th:if="${fileInfo}">
        <h4>Uploaded File Statistics</h4>
            <table class='table table-striped' id="table1">
                <thead>
                <tr>
                    <th scope="col" class="text-center">File Name</th>
                    <th scope="col" class="text-center">Online</th>
                    <th scope="col" class="text-center">Coc</th>
                    <th scope="col" class="text-center">A/C Payee</th>
                    <th scope="col" class="text-center">Beftn</th>
                    <th scope="col" class="text-center">Total Remittance</th>
                    <th scope="col" class="text-center">Details</th>
                </tr>
                </thead>
                <tbody>
                <tr>    
                    <th scope="row" class="text-center"><p th:text="${fileInfo.fileName}"></p></th>
                    <td class="text-center"><p th:text="${fileInfo.onlineCount}"></p></td>
                    <td class="text-center"><p th:text="${fileInfo.cocCount}"></p></td>
                    <td class="text-center"><p th:text="${fileInfo.accountPayeeCount}"></p></td>
                    <td class="text-center"><p th:text="${fileInfo.beftnCount}"></p></td>
                    <td class="text-center"><p th:text="${fileInfo.totalCount}"></p></td>
                    <td><a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                             stroke-linejoin="round"
                             class="feather feather-mail badge-circle badge-circle-light-secondary font-medium-1">
                            <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                            <polyline points="22,6 12,13 2,6"></polyline>
                        </svg>
                    </a></td>
                
                </tr>
                </tbody>
            </table>
    </div>
    <div th:if="${errorData !=null}">
        <input type="hidden" name="id" id="id" th:value="${errorData}" />
        <input type="hidden" name="reportColumns" id="reportColumns" th:value="${reportColumn}" />
        <h4>Error Data Report</h4>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class='table table-striped' id="error_data_tbl" width="100%"></table>
                </div>
            </div>
        </div>
    </div>
</section>
