<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRD Remittance System</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>

<body>
<div id="auth">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12 mx-auto">
                <div class="card pt-2">
                    <div class="card-body">
                        <div class="text-center mb-3">
                            <h3>Change Password!</h3>
                            <p>Please change your password to continue</p>
                        </div>
                        <form th:action="@{#}" method="post" id="changePassword">
                            <div class="form-group position-relative has-icon-left">
                                <label for="password">New Password</label>
                                <div class="position-relative">
                                    <input type="password" class="form-control" id="password" name="password" required th:minlength="5" th:maxlength="20" onkeyup="check();">
                                    <div class="form-control-icon">
                                        <i data-feather="lock"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group position-relative has-icon-left">
                                <div class="clearfix">
                                    <label for="confirm-password">Re-Type Password</label>
                                    <a href="auth-forgot-password.html" class='float-end'>
                                    </a>
                                </div>
                                <div class="position-relative">
                                    <input type="password" class="form-control" name="confirm-password" id="confirm-password" required th:minlength="5" th:maxlength="20" onkeyup="check();">
                                    <div class="form-control-icon">
                                        <i data-feather="lock"></i>
                                    </div>
                                </div>
                                <strong><span th:id="message"></span></strong>
                            </div>
                            <div class="clearfix">
                                <div class="d-flex justify-content-center align-items-center">
                                    <button class="btn btn-primary" type="submit">Change Password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script th:src="@{/js/feather.min.js}"></script>
<script th:src="@{/js/app.js}"></script>

<script th:src="@{/js/main.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script th:src="@{/js/libs.js}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#changePassword').on('submit', function(e){
            e.preventDefault();
            var url = "/change-password-for-first-time-login";
            var data = $(this).serialize();
            var params = { "success_redirect": "true"};
            get_ajax(url,data, success_alert,fail_func,"post","json",params);
        });
    });
</script>
</body>

</html>
