<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head-css"></head>
<body th:fragment="fileUploadForm">
    <div id="app"><!--main content-->
        <span th:replace="fragments/sidebarUser :: sidebarUser"></span>
        <div id="main"><!--content Id-->
            <span th:replace="fragments/header :: header"></span>
            <div class="main-content container-fluid">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>File Upload for <span id="exchangeName" th:text="${exchangeHouseModel.exchangeName}"></span></h3>
                        </div>
                        <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class='breadcrumb-header'>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Main Menu</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">File Upload</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>        
    
                <section id="input-style">
                    <div class="row" style="min-height: 58vh">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <!--<h4 class="card-title">Upload the CSV File</h4>-->
                                </div>
                                <div class="card-body">
                                    <div id="up-form">
                                        <form id="singleUploadForm" name="singleUploadForm" method="POST" th:action="@{#}"
                                            enctype="multipart/form-data">
                                            <div th:if="${showDropDown}">
                                                <div class="row">
                                                        <div class="col-2"><label>File Type</label></div>
                                                        <div class="col-4 form-group">
                                                            <select id="fileType" name="fileType" class="form-select" required>
                                                                <option value="">Choose One</option>
                                                                <option value="API">API</option>
                                                                <option value="BEFTN">BEFTN</option>
                                                            </select>
                                                        </div>
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                                <div class="col-2"><label>Upload CSV File</label></div>
                                                <div class="col-sm-8">
                                                    <div class="form-group">
                                                        <input type="file" id="roundText" class="form-control round" name="file"
                                                            placeholder="Choose File" required>
                                                    </div>
                                                    <div>
                                                        <input type="hidden" name="exchangeCode" id="exchangeCode" value="">
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="buttons">
                                                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="up-data"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <span th:replace="fragments/footer :: footer"></span>
        </div>
    </div>
    <div id="modal_wrap"></div><div class="lmodal"></div>
<script src="/js/fileUpload.js"></script>

</body>
</html>
