<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FRD Remittance</title>
</head>
<body>
<footer th:fragment="footer"><!--footer-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
  <script>$.widget.bridge('uibutton', $.ui.button)</script>
  <script th:src="@{/js/feather.min.js}"></script>
  <script th:src="@{/js/perfect-scrollbar.min.js}"></script>
  <script th:src="@{/js/app.js}"></script>
  <script th:src="@{/js/Chart.min.js}"></script>
  <script th:src="@{/js/apexcharts.min.js}"></script>
  <script th:src="@{/js/dashboard.js}"></script>
  <script th:src="@{/js/main.js}"></script>
  <script th:src="@{/js/choices.min.js}"></script>
  <script src="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.0.8/b-3.0.2/b-html5-3.0.2/b-print-3.0.2/datatables.min.js"></script>
  <script th:src="@{/js/libs.js}"></script>
  <!--<div th:replace="~{::additionalScripts}"></div>-->
  <div class="footer clearfix mb-0 text-muted">
    <div class="float-start">
      <p>2023 &copy; Agrani Bank PLC</p>
    </div>
    <div class="float-end">
      <p>Crafted by <a href="https://www.agranibank.org/">Foreign Remittance Division</a></p>
    </div>
  </div>
</footer>
</body>
</html>