<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>FRD Remittance</title>
</head>
<body>
<div id="sidebar" class='active' th:fragment="sidebarAdmin"><!--sidebar-->
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <img src="/images/banner.png" alt="" srcset="">
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class='sidebar-title'>Main Menu</li>
                <!--..........................Admin Section......................-->
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <li class="sidebar-item active ">
                        <a th:href="@{/home}" class='sidebar-link'>
                            <i data-feather="home" width="20"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a th:href="@{/adminReport}" class='sidebar-link'>
                            <i data-feather="user" width="20"></i>
                            <span>Uploaded File Details</span>
                        </a>
                    </li>
                    <!--
                    <li class='sidebar-title'>Management</li>
                    <li class="sidebar-item has-sub">
                        <a href="#" class='sidebar-link'>
                            <i data-feather="file-plus" width="20"></i>
                            <span>Data Management</span>
                        </a>
                        <ul class="submenu ">
                            <li>
                                <a href="component-buttons.html">View Data</a>
                            </li>
                            <li>
                                <a href="component-alert.html">Insert Data</a>
                            </li>

                            <li>
                                <a href="component-badge.html">Update Data</a>
                            </li>

                            <li>
                                <a href="component-breadcrumb.html">Delete Data</a>
                            </li>
                        </ul>
                    </li>
                -->
                    <li class="sidebar-item has-sub">
                        <a href="#" class='sidebar-link'>
                            <i data-feather="user" width="20"></i>
                            <span>User Management</span>
                        </a>
                        <ul class="submenu ">
                            <li>
                                <a th:href="@{/allUsers}">View User</a>
                            </li>
                            <li>
                                <a th:href="@{/newUserCreationForm}">Insert User</a>
                            </li>
                            <!--
                            <li>
                                <a href="component-badge.html">Update User</a>
                            </li>

                            <li>
                                <a href="component-breadcrumb.html">Delete User</a>
                            </li>
                        -->
                        </ul>
                    </li>
                    <li class="sidebar-item has-sub">
                        <a href="#" class='sidebar-link'>
                            <i data-feather="user" width="20"></i>
                            <span>Exchange House Management</span>
                        </a>
                        <ul class="submenu ">
                            <li>
                                <a th:href="@{/viewAllExchangeHouse}">View All Exch. House</a>
                            </li>
                            <li>
                                <a th:href="@{/newExchangeHouseCreationForm}">Insert New Exch. House</a>
                            </li>
                            <!--
                            <li>
                                <a href="component-badge.html">Update Exch. House</a>
                            </li>

                            <li>
                                <a href="component-breadcrumb.html">Delete Exch. House</a>
                            </li>
                        -->
                        </ul>
                    </li>
                    <li class="sidebar-item has-sub">
                        <a href="#" class='sidebar-link'>
                            <i data-feather="user" width="20"></i>
                            <span>Report Management</span>
                        </a>
                        <ul class="submenu ">
                            <li>
                                <a th:href="@{/generateTemporaryReport}">Generate Temporary Report</a>
                                <a th:href="@{/utils/uploadApi}">API Settlement File Upload</a>
                                <a th:href="@{/summaryOfDailyStatement}">Summary of Daily Statement</a>
                                <a th:href="@{/detailsOfDailyStatement}">Details of Daily Statement</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a th:href="@{/adminReport?type=4}" class='sidebar-link'>
                            <i data-feather="user" width="20"></i>
                            <span>Error Data Report</span>
                        </a>
                    </li>
                </div>
            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>
</body>
</html>