<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Agrani RMS</title>
</head>
<body>
<div id="sidebar" class='active' th:fragment="sidebarUser"><!--sidebar-->
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <img src="/images/banner.png" alt="" srcset="">
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-item">
                    <a th:href="@{/search}" class='sidebar-link'>
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <span>Search</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a th:href="@{/user-home-page}" class='sidebar-link'>
                        <i class="fa-solid fa-house"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <!--
                <li class="sidebar-item">
                    <a href="/generateReport" class='sidebar-link'>
                        <i data-feather="file" width="20"></i>
                        <span>Generate Report </span> 
                    </a>
                </li> -->
                <!--..........................User Section......................-->
                <div>
                    <li class="sidebar-item has-sub" th:if="${not #maps.isEmpty(exchangeMap)}">
                        <a href="#" class='sidebar-link'>
                            <i class="fa-solid fa-upload"></i>
                            <span>Upload File</span>
                        </a>
                        <ul class="submenu">
                            <li th:each="entry : ${exchangeMap.entrySet()}">
                                <a th:href="@{'/utils/index?id=' + ${entry.value}}"  class="exCode">
                                    <i class="fa-regular fa-circle sub-icon"></i>
                                    <span th:text="${entry.key}"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a th:href="@{/user-home-page?type=3}" class='sidebar-link'>
                            <i class="fa-solid fa-exclamation exclamation_padding" width="20"></i>
                            <span>Error Data List</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a th:href="@{/user-home-page?type=11}" class='sidebar-link'>
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <span>Routing Number Search</span>
                        </a>
                    </li>
                    <li class="sidebar-item has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="fa-solid fa-signal"></i>
                            <span>Report Management</span>
                        </a>
                        <ul class="submenu ">
                            <li>
                                <a th:href="@{/user-home-page?type=12}"><i class="fa-regular fa-circle sub-icon"></i>Exchange House Wise Report</a>
                            </li>
                            <li>
                                <a th:href="@{/user-home-page?type=13}"><i class="fa-regular fa-circle sub-icon"></i>Monthly Report</a>
                            </li>
                        </ul>
                    </li>
                </div>
            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>
</body>
</html>