<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>FRD Remittance</title>
</head>
<body>
<div id="sidebar" class='active' th:fragment="sidebarUser"><!--sidebar-->
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <img src="/images/banner.png" alt="" srcset="">
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-item">
                    <a th:href="@{/user-home-page}" class='sidebar-link'>
                        <i data-feather="file-plus" width="20"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/generateReport" class='sidebar-link'>
                        <i data-feather="file" width="20"></i>
                        <span>Generate Report </span> 
                    </a>
                </li>
                <li class='sidebar-title'>File Upload</li>
                <!--..........................User Section......................-->
                <div>

                 

                    <li class="sidebar-item active has-sub">
                        <a href="#" class='sidebar-link'>
                            <i data-feather="file-plus" width="20"></i>
                            <span>Upload File</span>
                        </a>
                        <ul class="submenu">
                            <li th:each="entry : ${exchangeMap.entrySet()}">
                                <a th:href="@{'/utils/index?id=' + ${entry.value}}"
                                   th:text="${entry.key}" class="exCode">
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a th:href="@{/user-home-page?type=3}" class='sidebar-link'>
                            <i data-feather="file-plus" width="20"></i>
                            <span>Error Data List</span>
                        </a>
                    </li>
                    <!-- 
                    <li class='sidebar-title'>Data Statistics</li>
                    <li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i data-feather="triangle" width="20"></i>
                            <span>Components</span>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="component-alert.html">Alert</a>
                            </li>

                            <li>
                                <a href="component-badge.html">Badge</a>
                            </li>

                            <li>
                                <a href="component-breadcrumb.html">Breadcrumb</a>
                            </li>

                            <li>
                                <a href="component-buttons.html">Buttons</a>
                            </li>
                        </ul>
                    </li>
                    <li class='sidebar-title'>Other</li>
                    <li class="sidebar-item">
                        <a th:href="@{/home}" class='sidebar-link'>
                            <i data-feather="file-plus" width="20"></i>
                            <span>Upload File</span>
                        </a>
                    </li>
                -->
                </div>
            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>
</body>
</html>