<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>FRD Remittance</title>
</head>
<body>
<div id="sidebar" class='active' th:fragment="sidebarSuperAdmin"><!--sidebar-->
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <img src="/images/banner.png" alt="" srcset="">
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <!--..........................Super Admin Section......................-->
                <div sec:authorize="hasRole('ROLE_SUPERADMIN')">
                    <li class="sidebar-item active ">
                        <a th:href="@{/home}" class='sidebar-link'>
                            <i class="fa-solid fa-house"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar-item has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="fa-regular fa-user"></i>
                            <span>User Management</span>
                        </a>
                        <ul class="submenu ">
                            <li>
                                <a th:href="@{/adminReport?type=6}"><i class="fa-regular fa-circle sub-icon"></i>View All Users</a>
                            </li>
                            <li>
                                <a th:href="@{/adminReport?type=10}"><i class="fa-regular fa-circle sub-icon"></i>Activate User</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="fa-solid fa-table-cells-large"></i>
                            <span>Exchange House Management</span>
                        </a>
                        <ul class="submenu ">
                            <li>
                                <a th:href="@{/adminReport?type=8}"><i class="fa-regular fa-circle sub-icon"></i>View All Exch. House</a>
                            </li>
                            <li>
                                <a th:href="@{/adminReport?type=9}"><i class="fa-regular fa-circle sub-icon"></i>Activate Exch. House</a>
                            </li>
                        </ul>
                    </li>
                </div>
            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>
</body>
</html>