<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>FRD Remittance</title>
</head>
<body>
<div id="sidebar" class='active' th:fragment="sidebarAdmin"><!--sidebar-->
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <img src="/images/banner.png" alt="" srcset="">
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <!--..........................Admin Section......................-->
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <li class="sidebar-item">
                        <a th:href="@{/search}" class='sidebar-link'>
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <span>Search</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a th:href="@{/home}" class='sidebar-link'>
                            <i class="fa-solid fa-house"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    
                    <li class="sidebar-item">
                        <a th:href="@{/adminReport}" class='sidebar-link'>
                            <i class="fa-solid fa-upload"></i>
                            <span>Uploaded File Details</span>
                        </a>
                    </li>
                    <li class="sidebar-item has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="fa-solid fa-signal"></i>
                            <span>Report Management</span>
                        </a>
                        <ul class="submenu ">
                            <li>
                                <a th:href="@{/generateTemporaryReport}" target="_blank"><i class="fa-regular fa-circle sub-icon"></i>Generate Temporary Report</a>
                                <a th:href="@{/utils/uploadApi}"><i class="fa-regular fa-circle sub-icon"></i>API Settlement File Upload</a>
                                <a th:href="@{/adminReport?type=7}"><i class="fa-regular fa-circle sub-icon"></i>Summary of Daily Remittances</a>
                                <a th:href="@{/showDetailsOfDailyStatement}"><i class="fa-regular fa-circle sub-icon"></i>Details of Daily Remittances</a>
                                <a th:href="@{/showIcashEntryForm}"><i class="fa-regular fa-circle sub-icon"></i>Generate MO</a>
                                <a th:href="@{/showDailyReimbursement}"><i class="fa-regular fa-circle sub-icon"></i>Daily Reimbursement</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a th:href="@{/adminReport?type=4}" class='sidebar-link'>
                            <i class="fa-solid fa-exclamation exclamation_padding"></i>
                            <span>Error Data Report</span>
                        </a>
                    </li>
                    <!--
                    <li class="sidebar-item">
                        <a th:href="@{/adminReport?type=5}" class='sidebar-link'>
                            <i class="far fa-trash-alt"></i>
                            <span>Delete Uploaded File</span>
                        </a>
                    </li>
                    -->
                    <li class="sidebar-item has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="far fa-trash-alt"></i>
                            <span>Admin Operation</span>
                        </a>
                        <ul class="submenu ">
                            <li>
                                <a th:href="@{/search?type=2}"><i class="fa-regular fa-circle sub-icon"></i>Data Correction</a>
                            </li>
                            <li>
                                <a th:href="@{/adminReport?type=5}"><i class="fa-regular fa-circle sub-icon"></i>Delete Uploaded File</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="fa-regular fa-user"></i>
                            <span>User Management</span>
                        </a>
                        <ul class="submenu ">
                            <li>
                                <a th:href="@{/adminReport?type=6}"><i class="fa-regular fa-circle sub-icon"></i>View User</a>
                            </li>
                            <li>
                                <a th:href="@{/newUserCreationForm}"><i class="fa-regular fa-circle sub-icon"></i>Insert User</a>
                            </li>
                            <li>
                                <a th:href="@{/showTimePickerForm}"><i class="fa-regular fa-circle sub-icon"></i>Set Allowed Login Time</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="fa-solid fa-table-cells-large"></i>
                            <span>Exchange House Management</span>
                        </a>
                        <ul class="submenu ">
                            <li>
                                <a th:href="@{/viewAllExchangeHouse}"><i class="fa-regular fa-circle sub-icon"></i>View All Exch. House</a>
                            </li>
                            <li>
                                <a th:href="@{/newExchangeHouseCreationForm}"><i class="fa-regular fa-circle sub-icon"></i>Insert New Exch. House</a>
                            </li>
                        </ul>
                    </li>
                    
                    
                </div>
            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>
</body>
</html>