<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/dashboard}">
<body class="main-content container-fluid" th:fragment="superAdminContent">
<div class="main-content container-fluid" th:fragment="superAdminContent">
  <div class="page-title">
    <h3>Super Admin Dashboard</h3>
    <p class="text-subtitle text-muted">Super Admin Dashboard</p>
  </div>
  <section class="section">
  <div class="row mb-2">
    <div class="col-12 col-md-3">  

      <div class="card card-statistic">
        <div class="card-body p-0">
          <div class="d-flex flex-column">
            <div class='px-3 py-3 d-flex justify-content-between'>
              <h3 class='card-title'>Online</h3>
              <div class="card-right d-flex align-items-center">
                <p class="onlineCount" th:text="${onlineCount}"></p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-12 col-md-3">

      <div class="card card-statistic">
        <div class="card-body p-0">
          <div class="d-flex flex-column">
            <div class='px-3 py-3 d-flex justify-content-between'>
              <h3 class='card-title'>COC</h3>
              <div class="card-right d-flex align-items-center">
                <p class="cocCount" th:text="${cocCount}"></p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-12 col-md-3"> 

      <div class="card card-statistic">
        <div class="card-body p-0">
          <div class="d-flex flex-column">
            <div class='px-3 py-3 d-flex justify-content-between'>
              <h3 class='card-title'>A/C Payee</h3>
              <div class="card-right d-flex align-items-center">
                <p class="accountPayeeCount" th:text="${accountPayeeCount}"></p>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="col-12 col-md-3">

      <div class="card card-statistic">
        <div class="card-body p-0">
          <div class="d-flex flex-column">
            <div class='px-3 py-3 d-flex justify-content-between'>
              <h3 class='card-title'>BEFTN</h3>
              <div class="card-right d-flex align-items-center">
                <p class="beftnIncentiveCount" th:text="${beftnIncentiveCount}"></p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="row mb-4">
    <div class=" row col-md-12">
      <div class="col-md-6">

        <div class="card" >
          <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="card-heading">Yearly (2021-2024) Target and Achievement in BDT (Cr.) </h3>
            <div class="d-flex ">
              <i data-feather="download"></i>
            </div>
          </div>
          <div class="card-body px-0 pb-0">
            <div class="table-responsive">
      
              <canvas id="targetAchievementChart" width="800" height="600"></canvas>
              
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-6">

        
        <div class="card" >
          <div class="card-header d-flex justify-content-between align-items-center">
            <h6 class="card-heading">Current Year (2024) Target and Achievement  in BDT (Cr.)</h6>
            <div class="d-flex ">
              <i data-feather="download"></i>
            </div>
          </div>
          <div class="card-body px-0 pb-0">
            <div class="table-responsive">
      
              <canvas id="monthlyAnalyticsChart" width="800" height="600"></canvas>
              
            </div>
          </div>
        </div>

        

      </div>

    </div>

    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class='card-heading p-1 pl-3'>Remittance inflow from 2014 to 2024</h3>
        </div>
        <div class="card-body">
          <div class="row">
          
            <div class="col-md-12 col-12">
              <canvas id="multiYearChart" width="800" height="400"></canvas>
            </div>
          </div>
        </div>
      </div>
     
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h3 class="card-heading">Bankwise Yearly Report 2020-2023</h3>
          <div class="d-flex ">
            <i data-feather="download"></i>
          </div>
        </div>
        <div class="card-body px-0 pb-0">
          <div class="table-responsive">
            <canvas id="bankRemittanceChart" width="800" height="400"></canvas>
          </div>
        </div>
      </div>


      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h3 class="card-heading">Bankwise Yearly Report 2020-2023</h3>
          <div class="d-flex ">
            <i data-feather="download"></i>
          </div>
        </div>
        <div class="card-body px-0 pb-0">
          <div class="table-responsive">
            <canvas id="bankRemittanceChartByYear" width="800" height="400"></canvas>
          </div>
        </div>
      </div>


      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h3 class="card-heading">Bankwise Yearly Report 2020-2023</h3>
          <div class="d-flex ">
            <i data-feather="download"></i>
          </div>
        </div>
        <div class="card-body px-0 pb-0">
          <div class="table-responsive">
             <!-- Table -->
            <table id="remittanceTable" class="display table table-responsive" style="width: 100%">
              <thead>
                <tr>
                  <th>Bank Name</th>
                  <th>Year</th>
                  <th>Amount</th>
                </tr>
              </thead>
            </table>

            <!-- Chart -->
            <canvas id="remittanceChart" width="800" height="400"></canvas>
          </div>
        </div>
      </div>





    



    </div>

  </div>
  </section> 
</div>
  <script type="text/javascript">
    var url = "/js/analytics_script.js";
    document.addEventListener('DOMContentLoaded', function(){
        var id = document.getElementById(id);
        var scriptElement = document.createElement('script');
        scriptElement.type = 'text/javascript';
        scriptElement.src = url;
        document.querySelector('footer').appendChild(scriptElement);
    });
  </script>
</body>
</html>