<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: head-css"></head>
<body>
<div id="app"><!--main content-->
    <span th:replace="fragments/sidebarSuperAdmin :: sidebarSuperAdmin"></span>
    <div id="main"><!--content Id-->
        <span th:replace="fragments/header :: header"></span>
        <div class="main-content container-fluid"><!--dynamic content-->
            <div class="page-title">
                <h3>All Inactive Exchange Houses</h3>
            </div>
            <div class="row" id="table-hover-row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">List of All Inactive Exchange Houses</h4>
                        </div>
                        <div th:if="${message}" class="alert alert-success text-center">
                            [[${message}]]
                        </div>
                        <div class="card-content">
                            <div class="table-responsive">
                                <table class="table table-hover mb-0">
                                    <thead>
                                    <tr>
                                        <th>Exchange Full Name</th>
                                        <th>Exchange Short Name</th>
                                        <th>Exchange Code</th>
                                        <th>Nrta Code</th>
                                        <th>Status</th>
                                        <th>ACTION</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="inactiveExchangeHouseList : ${inactiveExchangeHouseList}">
                                        <td class="text-bold-500" th:text="${inactiveExchangeHouseList.getExchangeName()}"></td>
                                        <td class="text-bold-500" th:text="${inactiveExchangeHouseList.getExchangeShortName()}"></td>
                                        <td class="text-bold-500" th:text="${inactiveExchangeHouseList.getExchangeCode()}"></td>
                                        <td class="text-bold-500" th:text="${inactiveExchangeHouseList.getNrtaCode()}"></td>
                                        <td class="text-bold-500" th:text="${inactiveExchangeHouseList.getActiveStatus()} ? 'ACTIVE':'INACTIVE' "></td>
                                        <td>
                                            <form th:action="@{/activateExchangeHouse/{id}(id=${inactiveExchangeHouseList.getId()})}" th:method="POST">
                                                <button type="submit" class="btn btn-outline-primary round" th:name="Activate" th:value="${inactiveExchangeHouseList.getId()}">Activate</button>
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span th:replace="fragments/footer :: footer"></span>
    </div>
</div>
</body>
</html>