<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/Chart.min.css}">
    <link rel="stylesheet" th:href="@{/css/perfect-scrollbar.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon">
    <title>FRD Remittance</title>
</head>
<body>
<div id="app"><!--main content-->
    <span th:replace="/fragments/sidebar :: sidebar"></span>
    <div id="main"><!--content Id-->
        <span th:replace="/fragments/header :: header"></span>
        <div class="main-content container-fluid"><!--dynamic content-->
            <div class="page-title">
                <h3>All Admins & Users Details</h3>
            </div>
            <div class="row" id="table-hover-row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">List of All Admins & Users</h4>
                        </div>
                        <div th:if="${message}" class="alert alert-success text-center">
                            [[${message}]]
                        </div>
                        <div class="card-content">
                            <div class="table-responsive">
                                <table class="table table-hover mb-0">
                                    <thead>
                                    <tr>
                                        <th>User Name</th>
                                        <th>User Email</th>
                                        <th>User Type</th>
                                        <th>Nrta Code</th>
                                        <th>Active Status</th>
                                        <th>ACTION</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${UserList}">
                                        <td class="text-bold-500" th:text="${user.getUserName()}"></td>
                                        <td class="text-bold-500" th:text="${user.getUserEmail()}"></td>
                                        <td class="text-bold-500">USER/ADMIN</td>
                                        <td class="text-bold-500" th:text="${user.getNrtaCode()}"></td>
                                        <td class="text-bold-500">Active</td>
                                        <td><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail badge-circle badge-circle-light-secondary font-medium-1"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span th:replace="/fragments/footer :: footer"></span>
    </div>
</div>
<script th:src="@{/js/feather.min.js}"></script>
<script th:src="@{/js/perfect-scrollbar.min.js}"></script>
<script th:src="@{/js/app.js}"></script>

<script th:src="@{/js/Chart.min.js}"></script>
<script th:src="@{/js/apexcharts.min.js}"></script>
<script th:src="@{/js/dashboard.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>