<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Data Converter</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>

<div class="upload-container">
    <div class="upload-header">
        <h2 style="text-align: center">Nafex File Converter</h2>
    </div>
    <div class="upload-content">
        <div class="single-upload">
            <h3>Upload the CSV File</h3>
            <form id="singleUploadForm" name="singleUploadForm" method="POST" th:action="@{/upload7010243}" enctype="multipart/form-data">
                <input id="singleFileUploadInput" type="file" name="file" class="file-input" required />
                <button type="submit" class="button-12">Submit</button>
            </form>
        </div>
    </div>
</div>
</br>
<script src="/js/script.js" ></script>
</body>
</html>